<h3 style="color: purple">Vendredi 22 octobre 21:       Python et les "Data Sciences" </h3>
<h2  style="color: SeaGreen">  =>  Les types structurés; construits ou collections </h2>
<h3  style="color: darkblue">
   1 => Tuple  <br>
   2 => Tableau - liste <br>
   3 => Dictionnaire <br>
   4 => Chaîne </h3>

Un **tuple** est constitué d'une collection ordonnée d'éléments. Il correspond à 
un p-uplet en mathématiques. Un tuple avec deux éléments est une paire, avec 
trois éléments un triplet, etc. Les tuples sont notés entre parenthèses en listant les 
éléments séparés par des virgules.

In [1]:
position = (100, 200)
date = (10, 'juillet', 2020)
carte = (7, 'pique')
fraction = (10, 7)

print(position, date, carte, fraction)

(100, 200) (10, 'juillet', 2020) (7, 'pique') (10, 7)

Tuples vides et singletons :

In [ ]:
tuple_vide = ()
singleton = (10,)
pas_un_tuple = (10)

print(tuple_vide, singleton, pas_un_tuple)

L'affectation multiple :

In [2]:
x, y = position          # x vaut 100 et y vaut 200
print(x, y)

jour, mois, annee = date # jour = 10, mois = 'juillet', année = 2020
print(jour, mois, annee)

valeur, couleur = carte  # valeur = 7, couleur = 'pique'
print(valeur, couleur)

p, q = fraction          # p = 10, q = 7
print(p, q)

100 200
10 juillet 2020
7 pique
10 7

In [3]:
a, b = (10, 20)
print(a, b)

a, b = (b, a) # échanger deux valeurs
print(a, b)

a, b = b, a   # les parenthèses sont optionnelles
print(a, b)

10 20
20 10
10 20

Erreur avec l'affectation multiple :

In [4]:
x, y = (1, 2, 3)

ValueError: too many values to unpack (expected 2)

Ignorer des éléments d'un tuple :

In [6]:
x, _, y = (1, 2, 3)
print(x, y)
print(_)

1 3
2

Tuple en paramètre d'une fonction :

In [ ]:
"Equerre du maçon:"
import math
def norme(p):
    """ calcule la norme du point p  """
    x, y = p
    return math.sqrt(x*x + y*y)

print(norme((4, 3))) # attention aux double parenthèses !

Tuples imbriqués :

In [7]:
personne = ("Lovelace", "Ada", (10, 'decembre', 1815), 'Londres')
nom, prenom, date, lieu = personne  # date vaut ?
print(date)
# ou bien :
nom, prenom, (jour, mois, an), lieu = personne

print(prenom, nom)
print(jour, mois, an)
print(lieu)

(10, 'decembre', 1815)
Ada Lovelace
10 decembre 1815
Londres

Les tuples sont immuables :

In [8]:
a = 10
b = 20
t = (a, b)  # t vaut (10, 20)
a = 50      # t => (50, 20) ?
print(t)
print(a)

(10, 20)
50

Les tableaux
--------------

In [9]:
premiers = [2, 3, 5, 7, 11, 13, 17, 19, 23]
print('le cinquième nombre premier est', premiers[4], '\n') # 1er indice = 0
print('Longueur => ',len(premiers))
for i in range(len(premiers)):  # i: de 0 à len(premiers)-1
    print('indice', i, '->', premiers[i])
tableau_vide = []

le cinquième nombre premier est 11

Longueur =>  9
indice 0 -> 2
indice 1 -> 3
indice 2 -> 5
indice 3 -> 7
indice 4 -> 11
indice 5 -> 13
indice 6 -> 17
indice 7 -> 19
indice 8 -> 23

Erreur en cas d'accès en dehors du tableau :

In [10]:
premiers[20]

IndexError: list index out of range

Énumération des éléments d'un tableau :

In [11]:
for n in premiers:  # n vaut les éléments successifs du tableau
    print(n, 'est un nombre premier')

2 est un nombre premier
3 est un nombre premier
5 est un nombre premier
7 est un nombre premier
11 est un nombre premier
13 est un nombre premier
17 est un nombre premier
19 est un nombre premier
23 est un nombre premier

Concaténation et répétition :

In [12]:
pairs = [2, 4, 6, 8, 10]
impairs = [1, 3, 5, 7, 9]
nombres = pairs + impairs    # = [2, 4, 6, 8, 10, 1, 3, 5, 7, 9]
print('nombres =', nombres)

couleurs = ['trefle', 'pique'] + ['coeur', 'carreau']
print('couleurs =', couleurs)

zeros = [0] * 100       # tableau de 100 éléments, qui valent tous 0
print('zeros =', zeros)

cycle = [1, 2, 3] * 10  # 10 fois la séquence 1, 2, 3
print('cycle =', cycle)

nombres = [2, 4, 6, 8, 10, 1, 3, 5, 7, 9]
couleurs = ['trefle', 'pique', 'coeur', 'carreau']
zeros = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
cycle = [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

> **Note**
>
> Notation indexée, énumération, concaténation et répétition de tuples :

In [13]:
date = (10, "decembre", 1815)
nom = ("Lovelace", "Ada")
prenom = nom[1]       # accès indexé
print(prenom)

personne = nom + date # concaténation
for e in personne:    # énumération
    print(e)

points = ((0, 100), (100, 0)) * 10    # répétition
print(points)

Ada
Lovelace
Ada
10
decembre
1815
((0, 100), (100, 0), (0, 100), (100, 0), (0, 100), (100, 0), (0, 100), (100, 0), (0, 100), (100, 0), (0, 100), (100, 0), (0, 100), (100, 0), (0, 100), (100, 0), (0, 100), (100, 0), (0, 100), (100, 0))

Les tableaux sont muables :

In [19]:
t = [1, 2, 3]
for i in range(len(t)):
    t[i] = t[i] * 2     # doubler la valeur du i-éme élément
print(t)

[2, 4, 6]

Combiner tableaux et tuples :

In [20]:
# tableau de tuples
cartes = [("as", "pique"), (10, "trefle"), ("valet", "trefle"), 
          (10, "coeur"), (5, "pique")]
print('cartes =', cartes)

# tuple avec le tableau `cartes` comme second élément
joueur = ("Joe", cartes, 120)
print('joueur =', joueur)

cartes = [('as', 'pique'), (10, 'trefle'), ('valet', 'trefle'), (10, 'coeur'), (5, 'pique')]
joueur = ('Joe', [('as', 'pique'), (10, 'trefle'), ('valet', 'trefle'), (10, 'coeur'), (5, 'pique')], 120)

### Remarque : les listes

In [21]:
premiers = [2, 3, 5, 7, 11, 13, 17, 19, 23]
premiers.append(29)    # ajoute le nombre 29 à 'premiers' => mais où ?
print('premiers =', premiers)

mots = ['beau', 'chaud']
mots.insert(1, "et")   # insère "et" en ?
print('mots =', mots)

points = [(0, 0), (100, 0), (100, 100), (0, 100), (0, 0)]
p = points.pop(2) # retire l'élément à l'indice 2 et retourne sa valeur
print('p =', p)
print('points =', points)
points.clear()    # retire tous les éléments de la liste
print(points)

premiers = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
mots = ['beau', 'et', 'chaud']
p = (100, 100)
points = [(0, 0), (100, 0), (0, 100), (0, 0)]
[]

 Les chaînes de caractères
---------------------------

In [22]:
phrase = "Il fait beau"
mots = phrase.split(' ')    # ?
print(mots)
print(phrase)

mots[1] = 'fera'            # ?
print(mots)

phrase = ' '.join(mots)     # ?
print(phrase)

['Il', 'fait', 'beau']
Il fait beau
['Il', 'fera', 'beau']
Il fera beau

In [23]:
print(len(phrase))
for car in phrase:
    print(car)

12
I
l

f
e
r
a

b
e
a
u

Les dictionnaires
-------------------

In [2]:
# Un dictionnaire au sens usuel du terme
langages = {
    "Python": "Langage très populaire au début du 21e siècle",
    "Javascript": "Langage popularisé par l'avènement du Web",
}
# Ici les clés sont des noms et les valeurs des tableaux de coordonnées
dessins = {
    "maison" : [(0, 80), (40, 120), (80, 80), (80, 0), (0, 0), (0, 80)],
    "voiture" : [(0, 0), (2, 9), (20, 11), ...],
 }
# Ici les clés sont des tuples (nom, prénom) et les valeurs sont
# des tuples (date et lieu de naissance)
personnes = {
    ("Lovelace", "Ada"): (10, 'decembre', 1815, 'Londres'),
    ("von Neumann", "John"): (28, 'decembre', 1903, 'Budapest'),
    ("Turing", "Alan"): (23, 'juin', 1912, 'Londres'),
}
# Dictionnaire vide
dico_vide = {}

Accès à un dictionnaire :

In [4]:
print(langages["Python"])
print(dessins["voiture"])
print(personnes["Lovelace", "Ada"])

Langage très populaire au début du 21e siècle
[(0, 0), (2, 9), (20, 11), Ellipsis]
(10, 'decembre', 1815, 'Londres')

Erreur si entrée inexistante :

In [ ]:
langages["Ada"]

Opérateur `in` :

In [ ]:
if "maison" in dessins:
    print(dessins["maison"])
if "Python" not in langages:
    print("Il manque Python !")

Énumération :

In [5]:
for l in langages:      # l vaut successivement les clés du dictionnaire
    print(l, ':', langages[l])

Python : Langage très populaire au début du 21e siècle
Javascript : Langage popularisé par l'avènement du Web

Les dictionnaires sont muables :

In [ ]:
# ajout d'une entrée
langages["Ada"] = "Langage nommé en hommage à Ada Lovelace"
# modification d'une entrée existante
langages["Python"] = "Langage populaire pour l'enseignement"
# retrait d'une entrée. `del` est une instruction : pas de parenthèses
del langages["Javascript"]
print(langages)

Méthodes pour les dictionnaires :

In [26]:
dico = {"a" : 10, "b" : 20, "c" : 30}
cles = dico.keys()      # retourne la liste ["a", "b", "c"]
valeurs = dico.values() # retourne la liste [10, 20, 30]
items = dico.items()    # retourne la liste de tuples [("a", 10), ...]
print('cles = ', cles)
print('valeurs = ', valeurs)
print('items = ', items)

# ces listes peuvent être énumérées avec `for ... in:`
# Exemple : affichage des éléments d'un dictionnaire :
for cle, valeur in dico.items():
    print(f'{cle}: {valeur}')

cles =  dict_keys(['a', 'b', 'c'])
valeurs =  dict_values([10, 20, 30])
items =  dict_items([('a', 10), ('b', 20), ('c', 30)])
a: 10
b: 20
c: 30

Valeurs et références
---------------------- 

Alias :

In [ ]:
a = ["x", "y", "z"]
b = a
a[1] = "w"
print(b) # ['x', 'w', 'z']

Copie pour éviter l'alias :

In [ ]:
a = ["x", "y", "z"]
b = a.copy()        # copier le tableau a
a[1] = "w"
print(b) # ['x', 'y', 'z']

Alias lors du passage de paramètre :

In [ ]:
# passage d'un tableau en paramètre
def tdouble(t):
    """ retourne un tableau dont les éléments sont le double de t """
    for i in range(len(t)):
        t[i] = t[i] * 2
    return t

impairs = [1, 3, 5, 7, 9]
doubles = tdouble(impairs)
print(doubles)  # [2, 6, 10, 14, 18]
print(impairs)  # [2, 6, 10, 14, 18]
# doubles et impairs sont le MEME tableau

Copie du tableau pour éviter l'aliassage :

In [ ]:
# passage d'un tableau en paramètre
def tdouble(t):
    """ retourne un tableau dont les éléments sont le double de t """
    t = t.copy()    # copier le tableau pour ne pas modifier l'original
    for i in range(len(t)):
        t[i] = t[i] * 2
    return t

impairs = [1, 3, 5, 7, 9]
doubles = tdouble(impairs)
print(doubles)  # [2, 6, 10, 14, 18]
print(impairs)  # [1, 3, 5, 7, 9]
# doubles et impairs sont différents

### Egalité de valeurs ou de références : l’opérateur `is`

In [ ]:
a = [1,2]
print(a == [1,2], a is [1,2]) # True, False

b = a
print(a == b, a is b) # True, True

b = a.copy()
print(a == b, a is b) # True, False

#### Conclusion: 
- **==** teste l'égalité des valeurs
- **is** teste l'égalité de référence